:root {
    --white: #FFFFFF;
    --whitedark: #F6EFEF;
    --darkpurple: #A925F3;
    --black: #000000;
	--yellow: #ffd43b;
	--orange: #ffa94d;
    }

body{
	display:flex-auto;
}

header{
	position: fixed; /*se fija la position del header*/
	width: 100%;
}
nav {
	background: linear-gradient(to bottom right, var(--yellow), var(--orange));/* #F6EFEF*/
	margin-top:-10px;
	height: 80px;

}
.nav_menu{
	float: right;
	margin-right: 20px;
}
.header__image_logo{
	width: 13em;
	position: absolute;
}
.list__header {
	font-family: "Alumni Sans", cursiva;
	font-size: 12px;
	list-style: none;
	width: max-content;/*no corta el contenido que tiene más de 1 palabra*/
	display:inline-block;
	line-height: -780px;
	margin: 0 5px;
}
.list__header:hover a {
	color:var(--darkpurple);
	transition: 0.6s;

}
nav ul li a{
	text-decoration: none;
	font-size: 30px;
	color: var(black);
	font-weight: bold;
	padding: 10px 40px;
	margin: 1px -1px;

}

.main-header_logorrss{
	width: 60px;
	height:50px;
	margin-top:0;
	padding-top:0;
	margin-left: -1px;

}
.check_boton{
	font-size: 30px;
	color: var(--black);
	float: right;
	line-height: 80px;
	margin-right: 50px;
	cursor: pointer;
	display: none; /*solo tiene que verse en dispositivos pequeños*/
}
#check{
	display: none;
}
#background_image{
	/*filter: sepia(60%);*/
	background-image: url("img/bienvenida.png") ;

    padding: 14em ;

}
/*para tablets*/
@media (max-width:950px){
	a{
		padding-left: 20px;
	}
	nav ul li a{
		font-size: 16px;
}
}
@media (max-width:850px){
	.check_boton{
		display: block;
	}
	.nav_menu{
		position: fixed;
		width: 100%;
		height: 100vh;
		background:var(--darkpurple);
		top: 80px;
left:-100%;
text-align: center;
transition: all .5s;
	}
.list__header{
	display:block;
	margin:50px 0;
	line-height:30px;
}
}
#text-welcome1{
	font-family: "Boogaloo", cursiva;
	text-align: center;
	font-size: 170px;
	color: var(--white);
	margin-top:0.2em;
	text-shadow: 6px 9px  rgba(0, 0, 0, 0.9);
}


#text-welcome2{
	font-family: "Boogaloo", cursiva;
	color: var(--white);
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 5px  rgba(0, 0, 0, 0.9);
	margin-top:-4em;
}
#logo{
	width: 20em;
	height: 15em;
	padding-left: 40px;
}
footer{
    font-family: "Alumni Sans";
    text-align: center;
	font-size: 20px;
}
#table-info {
	display: grid;
	text-align: left;
	padding-left: 65px;
	text-align: justify;
	font-family: 'Comic Sans MS';

}
#contenido-texto{
	text-align: justify;
	margin-left: 40px;
	margin-right: 40px;
}

#contenedor-texto{
	display: flex;
}
.list__movies {

	font-size: 12px;
	list-style: none;
}
.div-img-search{
	width: 4%;
	align-items: right;
	cursor: pointer;
}
.section-input_text{
	border-radius: 10em;
	width:24em;
    height:2em;
	border: 4px var(--orange) outset;

}